
.card {
   
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front {
    background: linear-gradient(135deg, #fff3fb 0%, #57f2f5 100%);
}

.card-back {
    background: linear-gradient(135deg, #fe4fb8 0%, #00f2fe 100%);
    transform: rotateY(180deg);
}

